{% extends 'base/app.html.twig' %}
{% block title %}Profile and account details{% endblock %}
{% block body %}
	<div class="container mb-5 pb-3 px-0 mx-auto">
		{{ include('user/profile/profile-parts/_general-admin.html.twig') }}
		
		{{ include('user/profile/profile-parts/_activity-info.html.twig') }}
		
		{{ include('user/profile/profile-parts/_security-info.html.twig') }}
		
		{{ include('user/profile/profile-parts/_activity-stream.html.twig') }}
	</div>
{% endblock %}