.bg__logo-red {
	background-color : $logo-red;
	}

.bg__logo-black {
	background-color : $logo-black;
	}

.bg__primary {
	background-color : $primary;
	}

.bg__primary-accent {
	background-color : $primary-accent;
	}

.bg__secondary {
	background-color : $secondary;
	}

.bg__secondary-accent {
	background-color : $secondary-accent;
	}

.bg__info {
	background-color : $info;
	}

.bg__info-accent {
	background-color : $info-accent;
	}

.bg__success {
	background-color : $success;
	}

.bg__success-accent {
	background-color : $success-accent;
	}

.bg__warning {
	background-color : $warning;
	}

.bg__warning-accent {
	background-color : $warning-accent;
	}

.bg__danger {
	background-color : $danger;
	}

.bg__danger-accent {
	background-color : $danger-accent;
	}

.bg__light {
	background-color : $light;
	}

.bg__light-accent {
	background-color : $light-accent;
	}

.bg__dark {
	background-color : $dark;
	}

.bg__dark-accent {
	background-color : $dark-accent;
	}