.text__logo-red {
	color : $logo-red;
	}

.text__logo-black {
	color : $logo-black;
	}

.text__primary {
	color : $primary;
	}

.text__primary-accent {
	color : $primary-accent;
	}

.text__secondary {
	color : $secondary
	}

.text__secondary-accent {
	color : $secondary-accent
	}

.text__info {
	color : $info
	}

.text__info-accent {
	color : $info-accent
	}

.text__success {
	color : $success
	}

.text__success-accent {
	color : $success-accent
	}

.text__warning {
	color : $warning
	}

.text__warning-accent {
	color : $warning-accent
	}

.text__danger {
	color : $danger
	}

.text__danger-accent {
	color : $danger-accent
	}

.text__light {
	color : $light
	}

.text__light-accent {
	color : $light-accent
	}

.text__dark {
	color : $dark
	}

.text__dark-accent {
	color : $dark-accent
	}