$logo-red         : #e34234;
$logo-black       : #0b0b0b;
$primary          : #487eb0;
$primary-accent   : #40739e;
$secondary        : #95a5a6;
$secondary-accent : #7f8c8d;
$info             : #00a8ff;
$info-accent      : #0097e6;
$dark             : #353b48;
$dark-accent      : #2f3640;
$success          : #4cd137;
$success-accent   : #44bd32;
$warning          : #f1c40f;
$warning-accent   : #f39c12;
$danger           : #e74c3c;
$danger-accent    : #c0392b;
$light            : #ecf0f1;
$light-accent     : #bdc3c7;

