{% extends 'base/app.html.twig' %}
{% block title %}
	Request a password reset
{% endblock %}
{% block body %}
	{% if app.user %}
		<div class="mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('security-logout') }}">Logout</a></div>
	{% else %}
		<div class="col-12 col-lg-8 col-xl-6 mx-auto">
			<form class="bg-light rounded-1 shadow-3 my-5 mx-sm-4 mx-1 py-4 px-2 px-sm-4" action="{{ path('credentials-forgot-password') }}" method="POST">
				<h1 class="text-center">Request Password Reset</h1>
				<input type="hidden" name="password_forgotten[_token]" value="{{ csrf_token('_password_forgotten[_csrf_token]') }}">
				<div class="form-group py-1 px-md-1 p-lg-3">
					<div class="form-outline">
						<input class="form-control form-control-lg custom__form-input" id="password-reset-email" type="email"
						       name="password_forgotten[_email]" required>
						<label class="form-label" for="password-reset-email">Email Address</label>
					</div>
				</div>
				<div class="form-group py-1 px-md-1 p-lg-3 text-center">
					<input id="submit-form-button" class="btn btn-primary" type="submit" value="Send Reset Email">
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}