{% extends 'base/app.html.twig' %}
{% block title %}Show bug{% endblock %}
{% block body %}
	<div class="container mb-5 pb-3 px-0 mx-auto">
		<div class="row">
			<div class=" col-12 col-md-6 col-lg-4 m-0 p-0 border bg__light border-dark shadow-3 mx-auto">
				<div class="card m-0 p-0">
					<div class="card-body">
						<h5 class="card-title">{{ project.name }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ project.category.name }}</h6>
						<p class="card-text">{{ project.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}