<div class="m-0 pb-3 pt-4 text__light bg__info-accent">
	<h5 class="text-center text-uppercase">Admin Tools</h5>
</div>
<div class="row mx-auto p-2 pb-0 m-0">
	<div class="col-auto mx-auto m-0 pt-3 pb-4">
		<a href="{{ path('projects-edit-add-choose', {'project_uuid':project.uuid}) }}" class="text-uppercase text-decoration-none">Add User</a>
		 <a href="{{ path('projects-edit-remove-choose', {'project_uuid':project.uuid}) }}" class="text-uppercase text-decoration-none">Remove User</a>
		<a href="{{ path('project-edit', {'project_uuid':project.uuid}) }}" class="text-uppercase text-decoration-none">Edit Project</a>
		<a href="{{ path('project-delete', {'project_uuid':project.uuid}) }}" class="text-uppercase text-decoration-none">Delete Project</a>
	</div>
</div>