{% if user.projects.count > 0 %}user
	<div class="row mx-auto pt-4 px-0">
		<h4 class="text-uppercase p-0 m-0 bg__success text__light text-center m-0 mt-5 p-3">Projects</h4>
		{% for project in user.projects %}
			{{ include('projects/cards/_small-project-card.html.twig') }}
		{% endfor %}
	</div>
{% endif %}
{% if user.features.count > 0 %}
	<div class="row mx-auto pt-4 px-0">
		<h4 class="text-uppercase p-0 m-0 bg__info text__light text-center m-0 mt-5 p-3">Features</h4>
		{% for feature in user.features %}
			{{ include('features/card/_small-feature-card.html.twig') }}
		{% endfor %}
	</div>
{% endif %}
{% if user.bugs.count > 0 %}
	<div class="row mx-auto pt-4 px-0">
		<h4 class="text-uppercase p-0 m-0 bg__danger-accent text__light text-center m-0 mt-5 p-3">Bugs</h4>
		{% for bug in user.bugs %}
			{{ include('bugs/cards/_small-bug-card.html.twig') }}
		{% endfor %}
	</div>
{% endif %}