{% apply inky_to_html %}
	<container>
		<row>
			<columns>
				<spacer size="32"></spacer>
				<h1 class="text-center">Hi, {{ user.name }}!</h1>
				<h3 class="text-center">You have successfully changed your password.</h3>
				<h2 class="text-center">
					If you have not requested or this is not your IP, please contact the administrator immediately to secure the account .</h2>
				<p>The request was made from the IP address - {{ user.passwordResetTokenRequestedFromIp }} on
					{{ user.passwordResetTokenRequestedAt|date("d/m/Y") }}</p>
			</columns>
		</row>
	</container>
{% endapply %}