{% extends 'base/app.html.twig' %}
{% block title %}Registration successful!{% endblock %}
{% block body %}
	<div class="alert alert-success">
		<h2>Registration successful!</h2>
		<p>You will need to confirm your email.</p>
	</div>
{% endblock %}